html{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
body{
    width: 100%;
    box-sizing: border-box;
    border: 1px solid;
    border-color: rgb(53, 209, 74);
    margin:0;
}
div{
    border: 1px solid rgb(221, 16, 33);
}
/*html, body{
    box-sizing: border-box;*/
/*height: auto;*/
/*Header Contener*/
header{
    box-sizing: border-box;
    overflow: hidden;
    /*box-sizing: border-box;/*
    display: inline-flex;
    /*height:4rem;*/
    width:inherit;
    /*margin-left: 1.5rem;*/
    margin-right: 1.5rem;
    background-color: aliceblue;
    /*align-items: stretch;*/
}
.menue-bar-desktop{
    width: inherit;
    display:flex;
}
.company-logo{
    display: inline-flex;
    align-items: center;
}
.logo{
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 2rem;
    align-items: center;
}
#logo-text{
    text-align: justify;
    
}
/*.header-container{
    display:inline;
    display: block;
}*/
.nav-desk{
    width: 100%;
    margin-right: 1.5rem;
    display: inline-flex;
    align-items: center;
    justify-content:flex-end;
}
.menue-bar-mobile{
    width: 100%;
    height: 64px;
    align-items:center;
    justify-items: center;
}
.nav-mobile{
    width: 80%;
    padding: 16px;
    display: flex;
    justify-content:space-around;
}
.nav-mobile-img{
    width: auto;
}

ul{
    list-style-type: none;
    display:flex;
    border-width: 1rem;
}

li{
    margin-left: 1rem;
    margin-right: 1rem;
    align-items:left;
    align-items: flex-end;
}
main{
    border:1px solid rgb(61, 61, 61);
    padding-right: 2px;
}

.benner-article{
    box-sizing:border-box;
    background-color:gray;
    width: 100%;
    display: inline-flex;
    text-align: center;
    margin-left: 0rem;
}
.benner-image{
    max-width: 60%;
    padding:2rem 1.5rem;
}

/*.banner-container{
    box-sizing:border-box;
    margin: 2rem 1.5rem;
    width: 60%;
}
.banner-container, img{
    width: 100%;
}*/

.article{
   /* width:40%;*/
    padding: 1.5rem;
    display: flex;
    flex-direction:column;
    text-align: left;
    justify-content: center;

    } 
    h1{
        margin-top:5rem;
        font-family: sans-serif, copperplate, arial;
        font-size: 4em;
        font-weight:bolder;
        
    }
.article p{
    font-size:1.2rem;
    font-weight: 600;
}    

button{
    width:100%;
    font-size: 1.5em;
    padding:.5em;
    background-color:black;
    color:white;
}
.information-container{
    display: flex;
    margin-left: 1.5rem;
}
.information-container-main{
    width:60%;

}
.imag-main{ 
    width: 95%;
    margin: 2rem 1.5rem;    
}
.info-text-main{
    margin:0;
    padding-left: 1.5rem;
    align-items:left;
}
h2{
    width:inherit;
    margin: 2rem 1.5rem 1.5rem;
    font-size: 2.5rem;
}
/*.information-paragraf{   
margin:1.5rem, 1.5rem, 2rem, 1.5rem;
}*/
.information-container-info{
    display: table;
    flex-direction: column;
    width:40%;
}
.information-container-gests{
    width: 40%;
    display: inline-flex;
}
.information-img-container{
    display:flexbox;
    width:35%;
    margin-top: 2rem;
}
.info-img{
    width:35%;
    height:auto;
    margin:1rem;
}

.date-container{
    display: flex;
    flex-direction: column;
    align-items:center;
}
h3{
    font-size: 2rem;
}
.orientation-container{
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content:flex-start;
    align-items:center;
}
.campus-container{
    width: 100%;
    display: flex;
    justify-content:flex-start;
    align-items:center;
}
.info-text{
   /* align-items:center;*/
    margin: 1rem;
    justify-content: left;
}
.guest-container{
    display: flex;
    background-color:gray;
    margin-left: 1rem;
    justify-content:flex-start;
    align-items:center;
    margin-bottom: 2rem;
}
.title1{
    box-sizing: border-box;
    padding: 2rem;
    width: 100%;
    text-align:center;
}
.title1,h2{
    margin: 0;
    width: 100%;
}
.start-learning-container{ 
    box-sizing:content-box;      
    background-color:rgb(167, 164, 164);
    width:100%;
    }
.corses-container{
    margin: 0px 72px;
    padding-bottom: 2rem;
    /*text-align: center;
    width: 100%;
    display: flex;
    justify-content:space-around;
    margin-top: 2rem;
    margin-left: 4.5rem;
    margin-right: 4.5rem;*/
    }
.corses-img{
    width: 100%;
}
.learning-container1{
    display: flex;
    justify-content:space-between;
}
.learning-container2{
    display: flex;
    justify-content:space-between;
}
.software, .computer-art, .design, .data, .business, .marketing{
    width:30%;
}
.software, .data, .computer-art, .business{
    margin-right: 32px;
}
h5{
    margin:8px;
}
.exhibit-title{
    box-sizing:border-box;
    margin: 2rem 0rem 2rem 0rem;
    width: 100%;
}
.exhibit-contaniner{
    display: flex;
    width: 100%;
}
/*.exhibitsub1{
    box-sizing:content-box;
    width: 60%;
    margin: 2rem 1.5rem;
}
.exhibitsub-video {
    margin-left: 24px;
    width: 100%;
    height: auto;
}

.video-thesis {
width:max-content;
object-fit: cover;
}*/
.exhibitsub1
{
    width: 60%;
    margin-left: 1.5rem;
    margin-right:1,5rem;
}
video{
    max-width: 100%;
}
.exhibitsub2{
    margin-left: 1.5rem;
    width:40%;
}
.container-fisma{
    width: 100%;
    background-color:rgb(189, 186, 186);
    display:flex;
    flex-direction: row;

}
.img-fisma{
    width:35%;
    box-sizing: content-box;
    max-width:100%;
    height: auto;
    margin: 1rem;
}
.container-fisma-text{
    width:65%;
}
.container-now-then{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.container-now-then-text{
    width:65%;
    display: flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
.container-urban{
    margin-left:1.5rem;
}
footer{
    margin-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    padding:0.5rem;
    justify-content:space-between;
}
@media  (max-width: 940px) {
    html{
        font: size .5em;        
    }
    body{
        width: 100%;
    }
    h1{
        font-size: 1.5rem;
        margin:2rem 1rem ;
    }
    h2{
        font-size: 1.25rem;
    }
    .article, p{
        font-size:1rem;
        margin-left: 1rem; 
    }
    .menue-bar-desktop{
        display: none;
    }
    .benner-article{
        flex-direction:column;
    }
    .banner-container{
        min-width: 240px;
        margin: 0 auto;
    }
    .benner-image{
        max-width:100%;
        padding: 0;
    }
    .information-container{
        display: none;
    }
    .info-img{
        max-width:100%;
        /*min-width: 200px;*/
        height: auto;
        margin: 1rem;
    }
    .inf-text{
        margin-left: 2rem;
        text-align: left;
    }
    .info-text, h3, p, a{
        margin-left: 1rem;
    }
    h3{
        font-size: 1rem;
        border:1em 1em 1.5em;
    }
    .corses-container{
        flex-direction:column;        
    }
    .corses-img{
        display:none;
    }
    .corses-container{
        display: none;
    }
    .title1{
        margin-top: 32px;
        text-align: center;
    }
    .learning-mobile-text{
        background-color:rgb(233, 231, 231);
        padding-left: 1em;
        padding-top: 1em;
        padding-bottom: 1.5em;
    }
    .exhibit-contaniner{
        display: none;
    }
    .exhibitsub2{
        display: none;
    }
    .video-thesis{
        object-fit: scale-down;
        max-width: 100%;
    }
    .footer-horizontal-line{
        display: line;
        margin-top: 2rem;
    }
    .footer-desktop{
        display: none;
    }
    .container-urban{
        display: none;
    }
}
@media   (min-width:940px) {
    .menue-bar-mobile{
        display:none;
    }    
    .information-container-mobile{
        display:none;
    }
    .learning-container-mobile{
        display:none;
    }
    .exibit-contanier-mobile{
        display:none;
    }
    footer{
        display: flex;
    }
}